*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
.header{
    height:fit-content;
    display: block;
    background-color: #fcfdfd;
    padding-top: 1.5rem;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header a img{
    max-width: 350px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.logo-image{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.logo-image a{
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: #997bb7;
    height: fit-content;
}
.logo-nav-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}
.logo-nav-container a{
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: #997bb7;
}
.login-icon a{
    font-size: 25px;
    text-decoration: none;
    display: block;
    color: #997bb7;
    width: fit-content;
    height: fit-content;
}
.login-icon a img{
    display: none;
}
.menu-icon{
    display: none;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
}
.navigation ul li :hover{
    color: #eba61a;
}
.main{
    padding-top: 11rem;
}
.footer{
    background: #f2f2f2;
    padding: 4rem;
    text-align: center;
}
@media only screen and (max-width: 1445px) and (min-width: 1215px){
    .logo-nav-container a{
        font-size: 20px;
        text-decoration: none;
        display: block;
        color: #997bb7;
    }
}
@media only screen and (max-width: 1214px) and (min-width: 1025px){
    .logo-nav-container a{
        font-size: 15px;
        text-decoration: none;
        display: block;
        color: #997bb7;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 480px){
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .menu-icon img{
        width: 50px;
    }
    .logo-image .login-user{
        display: none;
    }
    .login-icon a img{
        display: block;
        width: 50px;
    }
    .logo-nav-container{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: left;
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul li{
        display: block;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
    }
    .main{
        padding-top: 13rem;
    }
}
@media only screen and (max-width: 479px){
    .header a img{
        width:200px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .menu-icon img{
        width: 30px;
    }
    .logo-image .login-user{
        display: none;
    }
    .login-icon a img{
        display: block;
        width: 35px;
    }
    .logo-nav-container{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: left;
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul li{
        display: block;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
    .navigation ul li a{
        display: block;
        padding: 0.5rem 0;
    }
    .main{
        padding-top: 9.5rem;
    }
    
}